<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar sala</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/registroAdmin.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="registro-container">
    <a th:href="@{/admin/salas}" class="back-arrow">←</a>

    <h2>Editar sala</h2>

    <form th:action="@{'/admin/salas/editar/' + ${salaForm.idSala}}"
          th:object="${salaForm}" method="post">

        <div class="field">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" th:field="*{nombre}"
                   required maxlength="50">
        </div>

        <div class="field">
            <label for="capacidad">Capacidad</label>
            <input id="capacidad" type="number" min="1" max="200"
                   th:field="*{capacidad}" required>
        </div>

        <div class="field">
            <label for="ubicacion">Planta</label>
            <input id="ubicacion" type="text"
                   th:field="*{ubicacion}"
                   placeholder="Ej: Planta 1, Planta Baja, Zona Cardio..."
                   required maxlength="50">
        </div>

        <div class="field">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" th:field="*{descripcion}"></textarea>
        </div>

        <div class="actions">
            <button class="btn" type="submit">Guardar cambios</button>
        </div>
    </form>

</div>
</body>
</html>
