<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <meta charset="UTF-8">
    <title>Error - FitReserve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div class="container" style="text-align:center;">
    <h1>Error: Algo no ha salido como debía</h1>

    <div class="buttons" >
        <a th:href="@{/}" class="btn btn-secondary">Volver al inicio</a>
    </div>

</div>
</body>
</html>